@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    /* bg-black/60 */
    @apply fixed top-0 left-0 z-50 w-full h-screen p-10 bg-neutral-800/90 inset-0 outline-none focus:outline-none overflow-x-hidden overflow-y-auto;
  }

  .modal {
    /* min-w-[32rem] */
    @apply p-8 relative bg-white min-w-[36rem] flex flex-col rounded-lg shadow-lg border-0 outline-none focus:outline-none w-full max-w-lg md:w-full sm:max-w-[425px];
  }
}

:root {
  font-family: 'Inter', sans-serif;
  /* line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
